/* Css */

/* Estilos generales */
body {
  font-family: Calibri, sans-serif;
  line-height: 1.4;
}
.principal{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.container {
  padding: 1rem;
}

h1 {
  font-size: 1.4rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.buscador-input {
  width: 100%;
  border-radius: 14px;
  height: 25px;
  margin: 18px 0px;
}

/* Grid de productos */
.productos-grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 1rem;
}

@media (min-width: 768px) {
  .productos-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* Tarjeta de producto */
.producto-card {
  border: 1px solid #89bd7f;
  border-radius: 0.24rem;
  padding: 1rem;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(173, 98, 98, 0.06);
}

.producto-imagen {
  width: 100%;
  height: 10rem;
  object-fit: cover;
  border-radius: 0.24rem;
  margin-bottom: 0.4rem;
}

.producto-nombre {
  font-size: 1.124rem;
  font-weight: 580;
}

.producto-precio {
  color: orange;
}

.boton-agregar {
  width: 100%;
  margin-top: 0.4rem;
  background-color: #338ad1;
  color: white;
  padding: 0.4rem 1rem;
  border-radius: 0.24rem;
  border: none;
  cursor: pointer;
}

.boton-agregar:hover {
  background-color: #2ca140;
}

.boton-eliminar {
  margin-top: 0.4rem;
  margin-left: 0.4rem;
  border-color: white;
  color: #cc4d3d;
  padding: 0.4rem 1rem;
  border-radius: 0.24rem;
  border: none;
  cursor: pointer;
}

.boton-eliminar:hover {
  background-color: #f34a34;
  color: white;
}

/* Carrito */
.carrito {
  margin-top: 2rem;
}

.carrito h2 {
  font-size: 1.24rem;
  font-weight: bold;
  margin-bottom: 0.4rem;
}

.carrito-resumen {
  display: flex;
  align-items: center;
}

.carrito-icono {
  margin-right: 0.4rem;
}

.carrito-lista {
  margin-top: 0.4rem;
}

.carrito-item {
  color: #718ebe;
  display: flex;
  align-items: center;
  margin-bottom: 0.4rem;
}

.carrito-item-imagen {
  width: 2.4rem;
  height: 2.4rem;
  object-fit: cover;
  border-radius: 0.24rem;
  margin-right: 0.4rem;
}

.carrito-total {
  margin-top: 0.4rem;
  font-weight: bold;
}

.producto-imagenes {
  flex: 1;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 20px;
  padding: 20px;
}

.producto-detalle {
  display: flex;
  justify-content: center;
  align-items: center;
}

.detalle-imagen {
  width: 100%;
  height: 16rem;
  object-fit: cover;
  border-radius: 0.24rem;
  margin-bottom: 0.4rem;
  object-position: top;
}

.detalle-producto {
  width: 30%;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
}

/* Estilos para el contenedor principal */
.crear-producto {
  max-width: 850px;
  min-width: 450px;
  margin: 0 auto;
  padding: 18px;
  background-color: #f0e7e7;
  border-radius: 6px;
  box-shadow: 0 0 10px rgba(27, 27, 27, 0.1);
}

.crear-producto-info {
  display: flex;
  justify-content: space-between;
}

.crear-producto h2 {
  text-align: center;
  color: #4b4a4a;
  margin-bottom: 16px;
}

/* Estilos para el formulario */
.crear-producto form {
  display: flex;
  flex-direction: column;
}

.crear-producto form>div {
  margin-bottom: 14px;
}

/* Estilos para las etiquetas */
.crear-producto label {
  display: block;
  margin-bottom: 4px;
  font-weight: bold;
  color: #706f6f;
}

/* Estilos para los inputs y textarea */
.crear-producto input,
.crear-producto textarea {
  width: 100%;
  padding: 6px;
  border: 1px solid #d4d0d0;
  border-radius: 4px;
  font-size: 14px;
}

.crear-producto textarea {
  height: 100px;
  resize: vertical;
}

/* Estilos para el botón de envío */
.crear-producto button {
  padding: 10px 15px;
  background-color: #2baf30;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.4s ease;
}

.crear-producto button:hover {
  background-color: #35913a;
}

/* Estilos para los campos cuando están en foco */
.crear-producto input:focus,
.crear-producto textarea:focus {
  outline: none;
  border-color: #4CAF50;
  box-shadow: 0 0 5px rgba(71, 161, 74, 0.5);
}

/* Estilos para campos inválidos */
.crear-producto input:invalid,
.crear-producto textarea:invalid {
  border-color: #f86060;
}

/* Estilos responsivos */
@media (max-width: 760px) {
  .crear-producto {
    padding: 14px;
  }

  .crear-producto input,
  .crear-producto textarea,
  .crear-producto button {
    font-size: 14px;
  }
}

/* Etiqueta Item List */
.item-product {
  border: 1px solid #cdd5df;
  border-radius: 14px;
  padding: 1rem;
  display: flex;
  align-items: center;
  box-shadow: 0 1px 3px 0 rgba(15, 15, 15, 0.1), 0 1px 2px 0 rgba(15, 15, 15, 0.1);
}

/* Navbar */
.main-nav ul {
  margin: 0;
  padding: 0;
}
.main-nav {
  background-color: #1a1a1a;
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  height: 40px;
  margin: 0;
}
.main-nav ul{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  list-style-type: none;
}

.main-nav a {
  color: white;
  text-decoration: none;
  font-size: 16px;
  padding: 5px 10px;
  border-radius: 4px;
  transition: background-color 0.4s;
}

.main-nav a:hover,
.main-nav li.active a {
  background-color: #646262;
}

@media (max-width: 600px) {
  .main-nav ul {
    flex-direction: column;
    align-items: center;
  }

  .main-nav li {
    margin: 12px 0;
  }
}